@model SiriusTech.Data.Models.Entidade

@{
    ViewData["Title"] = "Create";
}

<h1>Novo Entidade</h1>

<h4>Preencha os campos abaixo para incluir um novo Entidade</h4>
<hr />
<div>
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
<br />
<div class="row">
    <div class="col-md">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="card">
                <div class="card-header">Informações Pessoais</div>
                <div class="card-body row">
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="CpfCnpj" class="control-label"></label>
                            <input asp-for="CpfCnpj" class="form-control" />
                            <span asp-validation-for="CpfCnpj" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="DcrEntidade" class="control-label"></label>
                            <input asp-for="DcrEntidade" class="form-control" />
                            <span asp-validation-for="DcrEntidade" class="text-danger"></span>
                        </div>
                    </div>               
                </div>
            </div>           
            <br />
            <div class="card">
                <div class="card-header">Endereço</div>
                <div class="card-body row">

                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="DcrEndereco" class="control-label"></label>
                            <input asp-for="DcrEndereco" class="form-control" />
                            <span asp-validation-for="DcrEndereco" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="IdCidade" class="control-label"></label>
                            <input asp-for="IdCidade" class="form-control" />
                            <span asp-validation-for="IdCidade" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-group">
                            <label asp-for="IdBairro" class="control-label"></label>
                            <input asp-for="IdBairro" class="form-control" />
                            <span asp-validation-for="IdBairro" class="text-danger"></span>
                        </div>
                        <div>

                        </div>
                    </div>                    
                   
                </div>
            </div> 
            <br />
            <div class="form-group">
                <input type="submit" value="Incluir" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
